[submodule "third_party/fmt"]
	path = third_party/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "third_party/websocketpp"]
	path = third_party/websocketpp
	url = https://github.com/zaphoyd/websocketpp.git
[submodule "third_party/json"]
	path = third_party/json
	url = https://github.com/nlohmann/json.git
[submodule "third_party/PicoSHA2"]
	path = third_party/PicoSHA2
	url = https://github.com/okdshin/PicoSHA2.git
[submodule "third_party/cpp-httplib"]
	path = third_party/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
