name: Builder

on: [push]

jobs:
  build:
    name: 'builder'
    runs-on: windows-2019

    steps:
    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v1.0.2
    - name: Checkout repo
      uses: actions/checkout@v2
      with:
        submodules: true
    - name: Create project
      run: create_project.bat
      shell: cmd
    - name: Get project solution
      run: |
        project_name=$(sed '/^set PROJECT_NAME=/! d; s/[^=]*=//' build.bat)
        echo "PROJECT_NAME=${project_name}.sln" >> $GITHUB_ENV
      shell: bash
    - name: Build project
      run: |
        cd build
        msbuild.exe %PROJECT_NAME% /p:Configuration=Release
      shell: cmd
    - name: Save artifacts
      uses: actions/upload-artifact@v2
      with:
        name: $PROJECT_NAME
        path: build/Release/*